<div fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Sentences in the past</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center" style="margin-top: 16px" fxLayoutGap="10px">
      <div fxFlexFill fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field fxFlex = "50">
          <input matInput placeholder="Sentence" [formControl]="sentenceControl">
        </mat-form-field>
      </div>
      <mat-horizontal-stepper #stepper [fxHide]="!isLoading && !isNotFirst">
        <mat-step label="Validating Subject" #stepOne></mat-step>
        <mat-step label="Validating Verb" #stepTwo> </mat-step>
        <mat-step label="Validating Complement" #stepThree></mat-step>

        <ng-template matStepperIcon="edit">
          <mat-icon>sync</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="trigger">
          <mat-icon [color]="'warn'">error</mat-icon>
        </ng-template>
      </mat-horizontal-stepper>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.name}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>

    </mat-card-content>
    <mat-card-actions>
      <button (click)="validateSentence()" mat-raised-button color="primary" [disabled]="sentenceControl.invalid || isLoading">Verify Sentence</button>
    </mat-card-actions>
  </mat-card>
</div>
